# dependencies
/node_modules

# production build output
/dist

# build cache
tsconfig.build.tsbuildinfo
*.tsbuildinfo

# logs & env
*.log
.env
.env.*
!.env.example
prompt.txt

# IDE & Tooling
.vscode/
.DS_Store
.aider*